<!DOCTYPE html>
<html lang="en">
    <head data-th-replace="fragments/common :: head"></head>
    <body class="app header-fixed sidebar-fixed">
        <header data-th-replace="fragments/common :: header"></header>
        
        <div class="app-body">
            <div class="sidebar" data-th-replace="fragments/common :: sidebar"></div>

            <!-- Main content -->
            <main class="main">
                <!-- Breadcrumb -->
                <ol class="breadcrumb" data-th-replace="fragments/common :: breadcrumb"></ol>
                
                <div class="container-fluid">
                    Example Layout
                </div>
            </main>
            
        </div>
        
        <footer data-th-replace="fragments/common :: footer"></footer>
    </body>
</html>